@media (prefers-color-scheme: dark) {
  body  {
    background-color: #000;
    color: #bfbfbf;
  }
}

@media (prefers-color-scheme: light) {
  body{
    background-color: #FFF;
    color: #000; 
  }
}